<section class="header">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul class="breadcrumbs">
        <li class="is-active" data-path="/"><a href="/">Home</a></li>
      </ul>
    </nav>
    <h1 class="title">
      Accra Times
    </h1>
    <p class="subtitle">
      The latest news from <strong>Ghana</strong>
    </p>
  </div>
</section>

<div class="articles-template">
  <section class="section start-top-news">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-primary">
                <p class="title"><a></a></p>
                <p class="subtitle"></p>
                <figure class="image">
                </figure>
              </article>
              <article class="tile is-child notification is-warning">
                <p class="title"><a></a></p>
                <p class="subtitle"></p>
                <figure class="image">
                </figure>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-info">
                <p class="title"><a></a></p>
                <p class="subtitle"></p>
                <figure class="image">
                </figure>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
              <p class="title"><a></a></p>
              <p class="subtitle"></p>
              <figure class="image">
              </figure>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-link weather">
            <div class="content">
              <p class="title"><a>Weather</a></p>
              <p class="subtitle">Now
                25 °C <br>
                <br>
                Clear.<br>
                <br>
                Feels Like: 26 °C<br>
                Forecast: N/A<br>
                Wind: 17 km/h ↑ from Southwest
              </p>
              <div class="content">
                <!-- Content -->
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>
